<p>agregar-stock works!</p>
<h1 mat-dialog-title>Agregar Stock</h1>

<div mat-dialog-content>
  <form [formGroup]="stockForm">
    <!-- Cantidad de stock a agregar -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Cantidad de stock</mat-label>
      <input matInput formControlName="cantidad" type="number" placeholder="Ingrese la cantidad de stock">
      <mat-error *ngIf="stockForm.get('cantidad')?.hasError('required')">
        La cantidad es requerida
      </mat-error>
      <mat-error *ngIf="stockForm.get('cantidad')?.hasError('min')">
        La cantidad debe ser mayor a 0
      </mat-error>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="cerrarModal()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="agregarStock()" [disabled]="stockForm.invalid">
    Agregar
  </button>
</div>
